@import url("https://fonts.googleapis.com/css?family=Athiti:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

$text-color: #b1afee;
$card-color: rgba(255, 255, 255, 0.04);

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url("/images/background.png") #05020c !important;
  background-size: contain;
  background-position: right top;
  color: $text-color;
  font-size: 16px;
  font-family: "Athiti", "Poppins";
}

.container-fluid {
  margin-top: 35px;
  @media (min-width: 1441px) {
    max-width: 80%;
  }
}

.top-section {
  position: relative;
  text-align: center;
  p {
    margin-top: 30px;
  }
}

.filter-type-section {
  position: relative;
  top: 10px;
  text-align: center;
}

.filter-type-btn {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 37px;
  border: solid 1px rgba(255, 255, 255, 0.35);
  padding: 8px 20px;
  transition: all 0.3s ease-in;

  &:hover {
    color: #fff;
  }

  &:last-child {
    margin-left: 20px;
  }

  &.is-filter-btn-active {
    background-image: linear-gradient(to right, #ff8c34, #f54b5e) !important;
    border: none !important;
  }
}

.covid-stats-section {
  position: relative;
  top: 35px;
  .covid-number-card {
    @media (max-width: 991px) {
      margin: 10px 0px;
    }
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    border: solid 1px rgba(255, 255, 255, 0.07);
    background-color: $card-color;
    backdrop-filter: saturate(180%) blur(20px);
    transition: all 0.4s ease-in-out;

    &.float-shadow {
      box-shadow: 0 60px 80px 0 rgba(48, 39, 152, 0.3);
    }

    &:hover {
      margin-top: -8px;
      box-shadow: 0 60px 80px 0 rgba(48, 39, 152, 0.3);
    }

    &.covid-confirmed-card {
      background-image: linear-gradient(-45deg, #f7b200, #ff00e2);
      border: none;
      color: #fff;
      .covid-type-number {
        &::after {
          color: #fff;
        }
      }
    }

    .covid-type-number {
      font-size: 40px;
      font-weight: 600;
      color: #fff;
      font-family: "Poppins";
      &::after {
        content: " คน";
        font-size: 24px;
        color: $text-color;
        font-weight: normal;
        font-family: "Athiti";
        opacity: 0.7;
      }
    }

    .covid-type-updated {
      font-size: 14px;
      font-weight: normal;
      opacity: 0.6;
    }
  }
}

.covid-bar-chart-card,
.covid-donut-chart-card {
  @media (max-width: 991px) {
    margin: 10px 0px;
  }
  margin-top: 25px;
  padding: 30px 30px 0px 30px;
  border-radius: 15px;
  border: solid 1px rgba(255, 255, 255, 0.07);
  background-color: $card-color;
  backdrop-filter: saturate(180%) blur(20px);
}

.covid-donut-chart-card {
  padding: 30px;
}

.covid-bar-chart-card {
  h5 {
    &::after {
      content: "(7 วันย้อนหลัง)";
      font-size: 15px;
      padding-left: 10px;
      opacity: 0.6;
    }
  }
  span {
    display: block;
    font-size: 13px;
    opacity: 0.6;
  }
}

.apexcharts-tooltip {
  background: rgba(0, 0, 0, 0.6) !important;
  box-shadow: none !important;
  color: #fff !important;
  backdrop-filter: saturate(180%) blur(10px) !important;
}

.credit {
  z-index: 999;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  font-family: "Poppins";
  font-size: 11px;
  color: #fff;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 20px;
  a {
    color: #fff !important;
    font-weight: 600;
  }
}
